html { 
    background: url(../IMAGE/bgPendidikan.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.card {
    background-color: transparent;       
}